@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

.logincreate b, .logincreate {
    color: red;
}

.logincreate:hover b {
    color: magenta;
}

.container-custom {
    padding-left: 0px;
    padding-right: 0px;
}

.row-custom {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.row-custom-center {
    margin: auto;
}

.btn-custom {
    background-color: red !important;
    color: white !important;
}

.form-custom {
    padding: 15px;
    margin: 0px;
}

.form-text-custom {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.carousel-custom {

    width: 500px;
    height: 400px;
    margin: auto;
}

#loading, #results {
    display: none;
}

.cardsimages {
    margin: auto;
}

.cos {
color: blue;
}

.navbarfixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
}

.menufixer {
    height: 100px;
}

.colorize {
    color: red;
}

.dropdown-toggle::after {
    content: none;
}

.expand-width {
    width: 106%;
}

.width-repaired {
    width: 300px;
}

.margin-custom-bottom {
    margin-bottom: 10px;
}

.margin-custom-top {
    margin-top: 10px;
}

.border {
    border-width: 3px !important;
}

.hot-shot-discount {
    color: gray;
    text-decoration: line-through;
}

.hot-shot {
    color: red;
}

ul.countdown {
    list-style: none;
    margin: 75px 0;
    padding: 0;
    display: block;
    text-align: center;
}
ul.countdown li {
    display: inline-block;
}
ul.countdown li span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}
ul.countdown li.seperator {
    font-size: 80px;
    line-height: 70px;
    vertical-align: top;
}
ul.countdown li p {
    color: #a7abb1;
    font-size: 14px;
}

.grid-container {
    display: grid;
}

.onhover:hover {
    transform: scale(1.5);
}

.content {
    min-height: 61vh;
}

.small-space-menu {
    margin-left: 20px;
    padding-left: 20px;
}

.table-full {
    width: 150%;
}